* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./images/retro-futurism-background-free-vector.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  font-size: 80px;
  margin: 100px 0;
  color: yellow;
  border: 3px solid #fff;
  background-color: #cacacab6;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  width: 60%;
}

.scores-container {
  display: flex;
  gap: 120px;
}

.column-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-content: start;
  border: 3px solid #fff;
  background-color: #cacacab6;
  border-radius: 15px;
  padding: 30px;
  margin-bottom: 70px;
}

.scores-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.scores-title h2,
.column-2 h2 {
  font-size: 40px;
  color: yellow;
}

#refresh {
  padding: 7px 14px;
  background-color: rgba(255, 0, 217);
  color: #fff;
  border: 2px solid;
  border-color: rgba(255, 0, 217);
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

.table {
  border: 2px solid rgb(25, 25, 121);
  width: 100%;
  color: rgb(25, 25, 121);
  overflow: hidden;
  overflow-y: scroll;
  height: 200px;
}

.table ul li {
  list-style: none;
  font-weight: 400;
  padding: 10px;
  padding-left: 20px;
}

.table ul li:nth-child(odd) {
  background-color: rgba(255, 0, 217, 0.5);
}

.column-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 3px solid #fff;
  background-color: #cacacab6;
  border-radius: 15px;
  padding: 30px;
  margin-bottom: 70px;
}

#add {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#add input {
  padding: 10px;
  border: 2px solid rgb(25, 25, 121);
  font-size: 12px;
}

#submit {
  font-size: 18px;
  padding: 7px 14px;
  align-self: flex-end;
  cursor: pointer;
  background-color: rgba(255, 0, 217);
  color: #fff;
  border-radius: 8px;
}
